<!DOCTYPE html>
{% load staticfiles%}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'puppys/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'puppys/style.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Indie+Flower|Lobster' rel='stylesheet' type='text/css'>
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
        <title>About Us</title>
    </head>
    <body>
       <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <a href="..">
                        <img class="img-responsive pad-down" src="{% static 'puppys/images/paw-print-logo.png' %}">
                     </a>
            </div>
                <div class="col-md-6 text-uppercase text-right pull-right CursiveL">
                    <h1 class="title-big ">Fancy Paws</h1>
                    <h3>Puppies for you</h3>
                </div>
            </div>
           <div class="row">
                <div class="col-md-12">
                    <hr>
                </div>
           </div>
           <div class="row text-center">
                <div class="col-md-12">
                    <h1>Contact Fancy Paws</h1>
                    <h3>Barbra Duncan:</h3>
                    <h3>540-420-1208</h3>
                    <h3>barkduncan@gmail.com</h3>
                </div>
           <div clas="row">
               <div class="col-md-12">
                </div>
           </div>
       </div>
    </body>
</html>
