<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
    <head>
        <script type="text/javascript" src="js/jquery-2.1.4.js"></script>
        <script type="text/javascript" src="js/jquery.qtip.js"></script>
        <script type="text/javascript" src="js/tt.js"></script>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="Description" content="Puppies for sale">
        <meta name="keywords" content="puppies, shih tzu, toy poodle, roanoke, virginia, Va, FancyPaws, SouthWest, dogs for sale">
        <link rel="stylesheet" href="{% static 'puppys/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'puppys/style.css' %}">
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
        <link href='https://fonts.googleapis.com/css?family=Indie+Flower|Lobster' rel='stylesheet' type='text/css'>
        <link type="text/css" rel="stylesheet" href="js/jquery.qtip.css">
        <title>Fancy Paws</title>
    </head>
    <body>
       <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <a href="">
                        <img class="img-responsive pad-down" src="{% static 'puppys/images/paw-print-logo.png' %}">
                     </a>
            </div>
                <div class="col-md-6 text-uppercase text-right pull-right CursiveL">
                    <h1 class="title-big">Fancy Paws</h1>
                    <h3>Puppies for you</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <a href="ToyPoodle" title="Click Here for Available Toy Poodles">
                        <img class="img-responsive pull-right pad-right" src="{% static 'puppys/images/tpFace.png' %}" alt="Toy Poodle">
                    </a>
                </div>
                <div class = "col-md-6">
                    <a href="ShihTzu" title="Click Here for Available Shih Tzus">
                        <img class="img-responsive pad-left" src="{% static 'puppys/images/szFace.png' %}" alt="Shih Tzu">
                    </a>
                </div>
           </div>
           <div class="row">
                <div class="col-md-12 invisible">
                    <hr>
                </div>
           </div>
           <div class="row">
                <div class="col-md-12 invisible">
                    <hr>
                </div>
           </div>
           <div class="row">
                <div class="col-md-12 invisible">
                    <hr>
                </div>
           </div>
           <div class="row">
              <div class="col-md-6">
                  <a href="about">
                    <button type="button" class="btn btn-default btn-lg btn-color pull-right">About</button>
                  </a>
              </div>
              <div class="col-md-6">
                  <a href="contact">
                    <button type="button" class="btn btn-default btn-lg btn-color pull-left">Contact</button>
                  </a>
              </div>
           </div>
    </body>
</html>
