*{
    font-family: 'Indie Flower', cursive;
    color:#282828;
    font-weight: 300;
}
body{
    background: url("images/Background.png");
    background-size: cover;
    background-repeat: repeat-y;
    background-position: center center;
}

.img-resize{
    height: auto;
    width: 3in;
    max-width: 350px;
    max-height: 400px;
}

.CursiveL{
    font-family: 'Lobster', cursive;
}

ul{
    font-size: 20px;
}

.Bigger{
    font-size: 35px
}

.title-big{
    font-size: 50px;
}
.invisible{
    color:#FFFFFF;
}

.puppy-pic{
    padding-left: 20px;
    padding-top: 20px;
    margin-top: 25px;    
}

.btn-grey{
    background: #282828;
}
.pad-right{
    padding-right: 150px;
}
.pad-left{
    padding-left: 150px;
}
.pad-down{
    padding-top: 12px;
}
.paragraph-bigger{
    font-size: 20px
}
.bold{
    font-weight: bold;
}
